<!DOCTYPE html>
<html>
<head>
    <title>SPARQL Query</title>
</head>
<body>
    <h1>SPARQL Query</h1>
    <form action="/" method="POST">
        <label for="query">Enter SPARQL query:</label>
        <input type="text" width = "50dp" name="query" id="query" required>
        <button type="submit">Execute</button>
    </form>

    {% if results %}
    <h2>Results:</h2>
    <table>
        <tr>
            {% for var in results[0].keys() %}
            <th>{{ var }}</th>
            {% endfor %}
        </tr>
        {% for row in results %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
